.shop__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.shop__header {
  text-align: center;
}

.cart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.cart__sum {
  position: absolute;
  bottom: 0;
  left: 0.9em;
}
.cart__display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
}
.cart__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  border-bottom: 1px gray solid;
  gap: 0.5rem;
  background-color: white;
  padding: 0.5rem 0;
}

.cart__list {
  cursor: pointer;
}
.small__btn {
  border-radius: 100%;
  padding: 0;
  height: 1rem;
  width: 1rem;
  line-height: 0;
}
